<!DOCTYPE html>
<html lang="es">
<head>
    <title>Tienda - Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>

    <!-- Aquí se incluye el navbar -->
    {% include 'navbar.html' %}
    <!-- Resto del contenido de la página -->
    <div class="container">
        <a href="{{ url_for('agregar_producto') }}" class="btn" style="color: black;">Agregar Producto</a>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>{{ producto.categoria.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td><img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" width="50"></td>
                        <td>
                            <a href="{{ url_for('editar_producto', id=producto.id) }}">Editar</a>
                            <a href="{{ url_for('eliminar_producto', id=producto.id) }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
