{% extends "base.html" %}
{% block content %}

<h2>Categorías</h2>
<a href="{{ url_for('agregar_categoria') }}" class="btn btn-primary" style="color: black;">Agregar Categoría</a>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>
                <a href="{{ url_for('editar_categoria', id=categoria.id) }}" class="btn btn-warning" style="color: black;">Editar</a>
                <a href="{{ url_for('eliminar_categoria', id=categoria.id) }}" class="btn btn-danger" style="color: blue;">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>