<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Tienda{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>

    {% include 'navbar.html' %}  <!-- Incluye la navbar -->

    <header></header>

    <main style="padding-top: 40px;">
        <div class="menu-container">
            
            <a href="{{ url_for('lista_productos') }}" class="btn btn-productos">Productos</a>

            <a href="{{ url_for('lista_categorias') }}" class="btn btn-categorias">Categorías</a>
        </div>

        {% block content %}{% endblock %}  <!-- El contenido específico de la página -->
    </main>

    {% include 'footer.html' %}  <!-- Incluye el footer -->

</body>
</html>
